.child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* zmiana jednostki na vh */
  max-height: 100%; /* maksymalna wysokość */
  background: url("../public/assets/White-Cat-Background.jpg");
  background-size: cover;
  background-position: center;
}

img {
  max-height: 450px;
  max-width: 80%;
  margin: auto;
}
